# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main", "master", "trunk" ]
  pull_request:
    branches: [ "main", "master", "trunk" ]

permissions: {}

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 4.2.2
      with:
        persist-credentials: false

    - name: Set up Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # 6.1.0
      with:
        go-version: '1.24'

    - name: Build
      run: go build -v .
      working-directory: connego

    - name: Test
      run: go test -v .
      working-directory: connego