# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: "Test /ns endpoints"

on:
  schedule:
    # run integration tests every day
    - cron: "37 05 * * *"
  workflow_dispatch:

permissions: {}

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
      with:
        persist-credentials: false

    - name: Run tests
      run: ./test.sh -p
