# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: "Test /ns endpoints"

on:
  schedule:
    # run integration tests every day
    - cron: "37 05 * * *"
  workflow_dispatch:

permissions: {}

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # 5.0.0
      with:
        persist-credentials: false

    - name: Run tests
      run: ./test.sh -p
